
/* I used code from http://www.w3schools.com/css/css_navbar.asp

(I used the tutorial on navigation bars, and modified their example, to create my navigation bar.)
 */

p {
	color: #979BC5;
	font-size: 31px;	
	font-family: helvetica;
	margin: 0px 20px;
}

div {
    width: 98%;
	justify-content: center;
  	height:1px;
    padding: 2px;
    background-color: #96BBD2;
   	margin: 5px 10px ;
}


ul {
 
  color: #B4C5D2;
 
	font-family: helvetica;
	font-size: 20px;
	text-align: right;
    list-style: none;
	outline-style:solid; 
	list-style-position:
    margin: 120px;
    padding: 5;
    width: 140px;
    background-color: #979BC5;	
}


li a {

    display: inline;
    color: white;
    padding: 10px 10px 10px 10px;
    text-decoration: none;

}

li a:hover {
  
    background-color: #FFEED0;
    color: #979BC5;
}

